{
  "presets": ["env", "es2015", "stage-0"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-async-functions",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "@app": "./app",
        "@config": "./config",
        "@core": "./core"
      }
    }]
  ]
}
